.App {
  text-align: center;
}

#background {
  background: #282c34;
  padding-left: 3px;
  padding-right: 3px;
  margin: 0 auto;
}

.dialogue {
  background: #282c34;
  color: white;
  font-family: monospace;
  padding-top: 2px;
}

#speaker0 {
  color: lime;
}

#speaker1 {
  color: white;
}

#speaker3 {
  color: orange;
}
