html {
  margin: 0 0;
  padding: 0 0;
  background-color: #282c34;
}

.App {
  text-align: center;
  padding: 0 0;
  margin: 0 0;
}

#background {
  background: #282c34;
  padding-left: 3px;
  padding-right: 3px;
  margin: 0 auto;
}

.dialogue {
  background: #282c34;
  color: white;
  font-family: monospace;
  padding-top: 2px;
}

#speaker0 {
  text-align: center;
}

#speaker1 {
  color: white;
  padding-right: 50%;
}

#speaker3 {
  text-align: right;
  padding-left: 50%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: gray;
}

.decision {
  margin-bottom: 4em;
}
